article {
    width: 50%;
    display: flex;
    margin: 2em auto;
    justify-content: space-between;
    align-items: flex-start;
}

.article-container {
    width: 50%;
    margin: 2em auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-container section {
    margin: 0 20px;
    width: 40%;
}

@media (max-width: 750px) {
    .article-container section {
        width: 80%;
    }

    .article-container {
        width: 90%;
    }
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: arial;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}